<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259667167780-qfthr5skpn4r346a31vo1063h2ksqrch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259667167780-qfthr5skpn4r346a31vo1063h2ksqrch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>259667167780-1fpssa6qa54lemm22ufc4bd9cvrd7l73.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIpuehwClYYDMJDmY_EzrjGwHgZHRa6iY</string>
	<key>GCM_SENDER_ID</key>
	<string>259667167780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zion3</string>
	<key>PROJECT_ID</key>
	<string>zion3-e453d</string>
	<key>STORAGE_BUCKET</key>
	<string>zion3-e453d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259667167780:ios:2ff36a312b9893d7a966b1</string>
	<key>DATABASE_URL</key>
	<string>https://zion3-e453d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>